@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
  --coolgrey: #5e6167;
  --eggplant: #312951;
  --infrared: #ff2247;
  --newgreen: #00afc4;
  --pinkflash: #ef4657;
  --royalblue: #1e3f9f;
  --tiffanyblue: #00ffec;
  --purple: #433053;
  --gold: #f4b042;
  --varsityred: #B01317;
  --volt: #ceff00;
  --pastelred: #fadae2;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.save-note {
  display: none;
}

.bg-1 {
  background-color: var(--eggplant);
  font-family: 'Play', sans-serif;
}

.bg-2 {
  background-color: var(--pinkflash);
  color: white;
  border-radius: 10px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
}

.btn {
  background-color: var(--volt);
  color: black;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.container-fluid {
  background-color: var(--pastelred);
}

.note-textarea,
.note-title {
  font-family: 'Play', sans-serif;
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--pastelred);
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
}

.note-title:read-only,
.note-textarea:read-only {
  color: #757575;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-item-title {
  display: inline-block;
  width: 75%;
}

.list-container i {
  font-family: 'Play', sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}